.App-header {
  background-color: var(--background);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border);
  overflow: hidden;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}
.App-header-left {
  display: flex;
  flex: 5;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}
.App-header-left-inner {
  display: flex;
  align-items: center;
}

.App-menu-icon {
  margin: 0px 8px 0px 4px;
}

.App-logo-icon {
  height: 2rem;
  padding-right: 12px;
}
.App-title {
  color: var(--text);
  font-weight: normal;
  opacity: 0.85;
  font-size: 1.4rem;
}
.App-header-center {
  width: 724px;
  margin-right: 6rem;
}
.App-main {
  display: flex;
}
.App-header-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
@media only screen and (max-width: 600px) {
  .App-header-center {
    width: fit-content;
    margin-right: 0;
  }
}
